<!DOCTYPE html>
<html>
<head>
    <title>Whisky collection </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/scripts/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>    

<body>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Kieser Timer App</h1>
        </div>
    </div>

<table class="table">
        <tr>
            <td>Datum:</td> 
            <td colspan:"9">XXXX</td> 
        </tr>        
        <tr>
            <td>Dauer:</td> 
            <td colspan:"9">XXXX</td>
        </tr>
        <tr>
            <td>Übung 1</td>
            <td>Übung 2</td>
            <td>Übung 3</td>
            <td>Übung 4</td>
            <td>Übung 5</td>
            <td>Übung 6</td>
            <td>Übung 7</td>
            <td>Übung 8</td>
            <td>Übung 9</td>
            <td>Übung 10</td> 
        </tr>
</table>    

<button class="btn btn-secondary">
    Starte Übung
</button>

</body>    
</html>